body {
    padding-top: 70px;
    background: url('/images/sunset.jpg');
    display: compact;
    background-attachment: fixed;
}

.nav-pills {
    margin-top: 3px;
}

.well {
    background-color: #222222;
    border-color: #3097d1;
}