body {
    padding-top: 70px;
    background: url('/images/sunset.jpg');
    display: compact;
    background-attachment: fixed;
}

.nav-pills {
    margin-top: 3px;
}

.well {
    background-color: #222222;
    border-color: #3097d1;
}

.thumbnail a>img, .thumbnail>img {
    height: 98px;
    width: 98px;
}

.thumbnail {
    opacity: 0.85;
    background-color: #353030;
    border: 0px;
}

th {
    color:#3097D1;
}

.posts {
    min-height: 400px;
}

.jumbotronPosts {
    min-height: 600px
}

h2 {
    color: #3097d1;
}

.jobPropose {
    font-size: 16px;
}

.jumbotron {
    opacity: 0.85;
    background-color: #353030;
    text-align: center;
}